main {
  font-family: "IBM Plex Serif", serif;
  /* font-style: italic; */
  width: 60%;
  margin: auto;
}
h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 10px;
}
h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: 100;
}
