section {
  width: 500px;
  height: 500px;
  background-color: teal;
}

div { 
  width: 80%;
  height: 20%;
  background-color: tomato;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 200%;
}