#em h2 {
  font-size: 2em;
  margin: 1em;
}

#em h3 {
  font-size: 1.5em;
}
#em p {
  font-size: .5em;
}
#em{
  font-size: 20px;
}

button {
  font-size: 1em;
  padding: .5em 2em;
  background-color: teal;
  color: white;
  text-transform: uppercase;
  border-radius: 1.5em;
  border: 2px solid black
}

#em ul {
  font-size: 1.5em;
}


html{
  font-size: 40px;
}
#rem h2{
  font-size: 2rem;
}

#rem h3 {
  font-size: 1.5rem;
}

#rem ul{
  font-size: 1rem;
}