body{
  background-color: teal;
}
div {
  width: 200px;
  height: 180px;
}

h1{
  background-color: rgba(255, 99, 71, 0.438);
  width: 200px;
  margin: 20px 100px;
}
span {
  margin-left: 50px;
  /* margin-top: 500px; */
}
#one {
  background-color: #e45e5e;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

#two{
  background-color: #b61919;
  border-width: 3px;
  border-color: aqua;
  border-style: dashed;
  border-left-color: greenyellow;
  border-left-width: 10px;
  margin: 20px 200px;
}

#three {
  background-color: #502121;
  border: 5px solid blue;
  border-right-style: dotted;
  border-radius: 50%;
}


button {
  padding: 10px 60px 20px 50px;
}

