body {
  margin: 0px;
}
div {
  width: 200px;
  height: 200px;
  background-color: teal;
}

h1 {
  background-color: rgb(6, 240, 240);
  width: 200px;
}
span {
  margin-left: 40px;
  margin-bottom: 30px;
}

div:nth-of-type(1) {
  background-color: #01e472;
  border-width: 5px;
  border-style: solid;
  border-color: grey;
  box-sizing: border-box;
  margin-left: 100px;
  margin-bottom: 100px;
}
div:nth-of-type(2) {
  background-color: #02a754;
  border-width: 3px;
  border-style: dashed;
  border-color: rgb(255, 0, 0);
  border-left-width: 10px;
  margin: 50px;
}
div:nth-of-type(3) {
  background-color: #004d26;
  border: 5px solid grey;
  border-right-style: dotted;
  border-radius: 50%;
  box-sizing: border-box;
}

button {
  padding: 0 10px;
}
