img:first-of-type {
  width: 100px;
  margin-right: 600px;
  position: relative;
  left: 830px;
  transition: 0.3s 0.2s;
}

img:nth-of-type(2) {
  transition: 0.5s;
  transform: rotate(-30deg);
}

section:hover img:first-of-type {
  transform: translate(-900px, -300px);
}

section:hover img:nth-of-type(2) {
  transform: rotate(30deg);
}

/* section {
  transition: 2s;
} */
