/* Universal selector ==> Select everything */
* body {
  background-color: #f1faee;
}

/* Element Selector  */
button {
  font-size: 20px;
  background-color: #39c2b2;
}

span {
  color: #457b9d;
}
/* selector list  */
h1,
h2 {
  color: #14213e;
}

/* id selector  */
#signup {
  background-color: #14213d;
  color: white;
}

/* element selector  */
.tag {
  background-color: red;
  color: #f1faee;
  font-size: 16px;
}

/* Descendant selector  */
.post a {
  color: #457b9d;
  text-decoration: none;
  font-weight: bold;
}

footer a {
  color: red;
}

/* Adjacent combinator */
h2 + button {
  font-size: 15px;
}

/* Direct Child Combinator  */
footer > a {
  color: #457b9d;
}

/* Attribute Selector  */
input[type="password"] {
  color: tomato;
}

a[href$=".com"] {
  color: pink;
}

/* Pseudo classes  */
.post button:hover {
  background-color: orangered;
  color: #f1faee;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: lightgreen;
}

.post:nth-of-type(2n + 1) {
  background-color: #ced8ca;
}

/* pseudo elements  */
.post h2::first-letter {
  font-size: 50px;
}

p::first-line {
  color: tomato;
}

::selection {
  background-color: orangered;
}

button:hover {
  background-color: olive;
  font-size: 10px;
}
