/* Universal Selectors */
/* select everything   */
/* * {
  background-color: cyan;
} */

/* Element Selectors  */
/* select by element  */
body {
  background-color: #f1faee;
}
button {
  font-size: 20px;
  background-color: #a8dadc;
}

span {
  color: #457b9d;
}
/* selector list  */
/* combine multiple selector using comma into a list  */
h1, h2 {
  color: #1d3557;
}

/* ID SELECTOR  */

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

/* CLASS SELECTOR  */
.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 14px;
}

/* DESCENDANT SELECTOR  */
.post a{
  color: #457b9d;
  text-decoration: none;
  font-weight: bold;
}

footer a{
  color: #e63946;
}

/* ADJACENT COMBINATOR  */
h2 + button {
  font-size: 15px;
  background-color:#5095c0;
}

/* DIRECT CHILD COMBINATORS  */
/* select only the <a> that are direct children of <footer> */
footer > a{
  color: #457b9d;
}

/* ATTRIBUTE SELECTORS  */
input[placeholder="password"]{
  border-radius: 5px;
  border: 2px solid greenyellow;
}

/* select only the a that href has the word "puppies" */
/* a[href*="puppies"]{
  color:#457b9d;
} */

/* select only the <a> that href attributes value end with .com */
a[href$=".com"]{
  color: teal;
}


/* PSEUDO CLASSES */
/* keyword added to a selector that specifies a special state of the selected elements */
.post button:hover{
  background-color: #e63946;
  color: #f1faee;
  cursor: pointer;
}

.post a:hover{
  text-decoration: underline;
}

.post button:active{
  background-color: #02c39a;
  color: #f1faee;
}

.post:nth-of-type(2n){
  background-color: #cad3c7;
}

/* PSEUDO ELEMENTS  */
/* keyword added to a selector that let us style a particular part of selected elements */

.post h2::first-letter{
  font-size: 40px;
}

.article::first-line{
  color: rgb(190, 6, 190);
}
.article::selection{
  background-color: orange;
}

/* CASCADE */
/* the order matters */
h1,h2{
  color: teal;
}

/* SPECIFICITY  */
/* specificity is how the browser decide which rules should apply when multiple rules could apply to the same element. */

/* It is a measure of how specific a given selector is. The more specific selector wins  */

button:hover{
  background-color: teal;
  /* font-size: 10px; */
}

/* button{
  background-color: tomato !important;
} */