section {
  background-color: #dad7cd;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* align-items: center; */
  /* align-content: space-between; */
}

div {
  width: 100px;
  height: 100px;
}

div:first-of-type {
  align-self: center;
}
