/* Make all li's blue  */
li {
  color: blue;
  list-style: square;
}
/* Make everything with the class of 'done' gray  */

.done {
  color: gray;
  text-decoration: line-through;
}
/* Make the element with the id of 'clear' have red BG and white text  */

#clear{
  background-color: red;
  color: #fff;
}